{% extends 'base.html' %}
{% block content %}
<p class="h5" style="padding-top:0%">業務領域</p>
<div class="row">
    {% for bd in bdlist %}
    <div class="col-lg-12" style="padding-bottom:1%">
        <div class="card" style="width: 100%">           
            <div class="card-body">
                <h5 class="card-title">{{ bd.bd_no }} {{ bd.bd_name }}</h5>
                <div class="container">
                    {%for vc in vcMap|dict_get:bd.bd_no%}
                    <div class="row border border-top-0 border-end-0 border-start-0">
                        <div class="col-12 "><a href="/map/processMap?vcno={{vc.vc_no }}" class="card-link">{{vc.vc_name}}</a></div>                                                
                    </div>                            
                      
                    <div class="row border border-top-0 border-end-0 border-start-0">
                            <div class="col-2 border border-top-0 border-bottom-0 border-start-0">數位用例</div>
                            <div class="col-10">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">用例名稱</div>    
                                        <div class="col">使用狀態</div>                                       
                                    </div>
                                    {%for sl in slMap|dict_get:vc.vc_no %}
                                    <div class="row">
                                        <div class="col">{{sl.usecase_name}}</div>
                                        <div class="col">
                                            {%for rl in rlMap|dict_get:sl.sl_no%}
                                                {%if not forloop.first%}
                                                    ,
                                                {% endif %} 
                                                {%if rl.current_use_status == "待下線" %}
                                                    <span class="badge bg-secondary"> {{rl.plant_name}}</span>
                                                {%elif rl.current_use_status == "需迭代" %}
                                                    <span class="badge bg-warning text-dark"> {{rl.plant_name}}</span>
                                                {%else%}
                                                <span class="badge bg-info text-dark"> {{rl.plant_name}}</span>
                                                {%endif%}                                               
                                            {%endfor%}
                                        </div>   
                                    </div>   
                                    {%endfor%}   
                                </div>   
                            </div>   
                    </div>   
                    <div class="row border border-top-0 border-end-0 border-start-0">
                        <div class="col-2 border border-top-0 border-bottom-0 border-start-0">Process Chain</div>
                        <div class="col-10">
                            {%for pc in pcMap|dict_get:vc.vc_no%}
                                {%if not forloop.first%}
                                ,
                                {% endif %}
                                {{pc.pc_name}}
                            {%endfor%}
                        </div>
                    </div>                    
                    {%endfor%}     
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>    
{% endblock  %}

