{% extends 'base.html' %}
{% block content %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/map/businessDomainList">M1~M8</a>
            </li>
            <li class="breadcrumb-item" >
                <a href="/map/valuechain?bdno={{selectBD.bd_no}}">{{selectBD.bd_name}}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{selectedVC.vc_name}}</li>
        </ol>
    </nav>
    <div class="container ">
        <div class="row">
            {%for pc in selectedPCList %}
            <div class="col" >
                {{pc.pc_name}}
                <div class="container">
                    {%for cp in cbmMap|dict_get:pc.pc_no%}
                    <div class="row border border-secondary" style="padding:3%">
                        <div class="col-3 border border-secondary">
                            {{cp.cb_type}}
                        </div>
                        <div class="col-7 border border-secondary">
                            {{cp.cb_name}}
                        </div> 
                        <div class="col-2 border border-secondary">
                            <span class="badge bg-secondary" onClick="showActivity('{{cp.cb_no}}');" style="cursor:pointer;">view</span>
                        </div>  
                    </div>
                    {%endfor%}
                </div>
            </div>   
            {%endfor%}
        </div>
    </div>
</div> 
</div> 
<!--Modal-->
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container" id="activityDetail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!--Script-->  
  <script>
    function showActivity(cbno) {
        var activityContainer = $('#activityDetail'); 
        activityContainer.empty();
        $(function () {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
        });

        function getCookie(c_name)
        {
                if (document.cookie.length > 0){
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1){
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                            return unescape(document.cookie.substring(c_start,c_end));
                        }
                }
            return "";
        }

               
        $.ajax({
            type:'POST',
            url:'/map/getActivities/',             
            data: {
                selectedCbno: cbno,
            },
            success : function(response){                
                activityContainer.append('<div class="row"><div class="col">No</div><div class="col">活動名稱</div></div>');
                calist = response.calist;          
                $.each(JSON.parse(calist) , function( index, data ) {
                     var rowVal = index+1
                    activityContainer.append('<div class="row"><div class="col-2">'+rowVal+'</div><div class="col-8">'+data.fields.ca_name+'</div></div>'); 
                });
                $('#myModal').modal('show');
            }
        });        
    };
  </script>     
  {% endblock  %}

  